.home {
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.left-side {
    background-color: rgb(236, 242, 245);
    padding-top: 50px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 50px;
    margin-bottom: 50px;
}

.text {
    margin-left: 65px;
}

@media screen and (max-width: 800px) {
    .home {
        display: block;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}