.left-side {
    background-color: rgb(236, 242, 245);
    padding-top: 50px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 50px;
    margin-bottom: 50px;
}

.text {
    margin-left: 65px;
}